# Dados de Queimadas
<hr style="border:2px solid #0077b9;">

Disciplina: CAP-389 Introdução a *Data Science*
- Vitor Gomes
- Orientadores: Gilberto Ribeiro e Karine Ferreira

## Agenda

- Sobre os dados
- Infraestrutura
- Acesso aos dados
    - BDQ.py
    - WTSS.py
- Disponibilizando novos produtos

## Sobre os dados

|  #  | Dado | Descrição | Formato | Res. Temp. | Res. Espacial | SRS | Serviços | Detalhes |
|:----|:-----|:------ --|:-------:|:----------:|:-------------:|:---:|:--------:|:---:|
| 1 | Focos de Queimadas 2016 | 2.039.394 registros | PostgreSQL | Dados obtidos em 2017-08-11 | - | - | WFS | [mais](link) |
| 2 | Landcover IGBP 2012 | - | TIFF | Anual (1 cena) | 1200x1400 | - | WTSS | [mais](link) |
| 3 | Temperatura | -  | NetCDF | Diário (366 cenas) | 1200x1400 | - | WTSS | [mais](link) |
| 4 | Humidade | -  | NetCDF | Diário (366 cenas) | 1200x1400 | - | WTSS | [mais](link) |
| 5 | Risco de Fogo | -  | NetCDF | Diário (366 cenas) | 1200x1400 | - | WTSS | [mais](link) |
| 6 | Precipitação | - | NetCDF | Diário (366 cenas) | 1200x1400 | - | WTSS | [mais](link) |
| 7 | Ocorrência de focos | Gerado a partir do item 1 | TIFF | Mensal (12 cenas) | 1200x1400 | - | WTSS | [mais](link) |
| 8 | Temperatura média mensal | Normal de Temperatura | HDR | Mensal (12 cenas) | 226x196 | - | WTSS | [mais](link) |
| 9 | Precipitação média mensal | Normal de Precipitação | HDR | Mensal (12 cenas) | 226x196 | - | WTSS | [mais](link) |
| 10 | Umidade relativa média mensal | Normal de Umidade relativa | HDR | Mensal (12 cenas) | 226x196 | - | WTSS | [mais](link) |

<table style="border: 1px solid #000">
<tr>
<td><h3>1. Focos BRA 2016</h3></td>
<td><h3>2. Landcover IGBP 2012</h3></td>
<td><h3>3. Risco 01-01-2016</h3></td>
<td><h3>4. Precipitação 01-01-2016</h3></td>
</tr>
<tr>
<td><img src="./imgs/focos_bra_2016.png" alt="Focos BRA 2016" style="width: 200px;"/></td>
<td><img src="./imgs/land_cover_2012.png" alt="Landcover IGBP 2012" style="width: 200px;"/></td>
<td><img src="./imgs/risco.png" alt="Risco 2016" style="width: 200px;"/></td>
<td><img src="./imgs/precipitacao.png" alt="Precipitação 2016" style="width: 200px;"/></td>
</tr>
<tr>
<td><h3>5. Temperatura 01-01-2016</h3></td>
<td><h3>6. Umidade 01-01-2016</h3></td>
<td><h3>7. Precipitação Normal Jan</h3></td>
<td><h3>8. Temperatura Normal Jan</h3></td>
</tr>
<tr>
<td><img src="./imgs/temperatura.png" alt="Temperatura 2016" style="width: 200px;"/></td>
<td><img src="./imgs/umidade.png" alt="Umidade 2016" style="width: 200px;"/></td>
<td><img src="./imgs/prec_normal.png" alt="Precipitação 2016" style="width: 200px;"/></td>
<td><img src="./imgs/temp_normal.png" alt="Temperatura 2016" style="width: 200px;"/></td>
</tr>
<tr>
<td><h3>9. Umidade Normal Jan</h3></td>
<td><h3>10. Quantidade de focos Jan</h3></td>
<td></td>
<td></td>
</tr>
<tr>
<td><img src="./imgs/umi_normal.png" alt="Umidade 2016" style="width: 200px;"/></td>
<td><img src="./imgs/qtd_focos.png" alt="Quantidade de focos" style="width: 200px;"/></td>
<td></td>
<td></td>
</tr>
</table>

## Infraestrutura

TODO: 
Diagrama com a infraestrutura 
- Cliente
- WFS
- WTSS
    - SciDB
        - Carga de dados

## Serviços

Comentar

### BDQ.py

O [Cliente Python BDQ.py](https://github.com/vconrado/bdq.py) permite que usuários acessem aos dados de focos de queimadas disponibilizados através de WFS. Este cliente fornece três operações:
- **list_features**: lista as feições disponíveis no servidor;
- **describe_feature**: obtém a descrição de uma determinada feições;
- **feature_collection**: obtém uma coleção de feições.

In [157]:
# Obtendo a lista de feições disponíveis
from bdq import bdq;
import json

# conecta ao servidor WFS
b = bdq("http://my_geoserver:8080/geoserver-esensing")

# recupera lista de feições
ft_list = b.list_features()

for feature in ft_list['features']:
    print(feature)

esensing:focos_bra_2016
esensing:focos_bra_2016_01_01

In [158]:
# Obtendo a descrição do recurso esensing:focos_bra_2016

# recupera descrição da feição
ft_scheme = b.describe_feature("esensing:focos_bra_2016")

print("Namespace : {}".format(ft_scheme['namespace']))
print("Name      : {}".format(ft_scheme['name']))
print("Full Name : {}".format(ft_scheme['full_name']))
print("Attributes:")
for attr in ft_scheme['attributes']:
     print("  {:<20s}: {}".format(attr['name'], attr['datatype']))

Namespace : esensing
Name      : focos_bra_2016
Full Name : esensing:focos_bra_2016
Attributes:
  id                  : int
  municipio           : string
  estado              : string
  regiao              : string
  pais                : string
  satelite            : string
  bioma               : string
  vegetacao           : string
  path_row            : string
  timestamp           : date-time
  frp                 : number
  satelite_referencia : boolean
  geometria           : Point

In [159]:
# Obtendo a uma coleção com 5 recursos

# recupera uma coleção de feições (focos)
fc = b.feature_collection("esensing:focos_bra_2016", 
                          max_features=5)

print("Recuperados: {} de {}".format(fc['total'], fc['total_features']))

print("Features:")
print(fc['features'])

Recuperados: 5 de 2039394
Features:
[{u'regiao': u'S ', u'satelite_referencia': False, u'bioma': u'Mata Atl\xe2ntica', u'timestamp': u'2016-04-06T16:43:05Z', u'path_row': u'221_076', 'coordinates': [-50.321, -23.297], u'vegetacao': None, u'frp': None, u'satelite': u'NPP', u'pais': u'Brazil', u'estado': u'Paran\xe1', u'id': 45465778, u'municipio': u'Abati\xe1'}, {u'regiao': u'S ', u'satelite_referencia': False, u'bioma': u'Mata Atl\xe2ntica', u'timestamp': u'2016-11-24T22:44:22Z', u'path_row': u'221_076', 'coordinates': [-50.232, -23.282], u'vegetacao': None, u'frp': None, u'satelite': u'NOAA-18', u'pais': u'Brazil', u'estado': u'Paran\xe1', u'id': 45465782, u'municipio': u'Abati\xe1'}, {u'regiao': u'S ', u'satelite_referencia': True, u'bioma': u'Mata Atl\xe2ntica', u'timestamp': u'2016-07-17T17:28:09Z', u'path_row': u'221_076', 'coordinates': [-50.327, -23.311], u'vegetacao': None, u'frp': None, u'satelite': u'AQUA_M-T', u'pais': u'Brazil', u'estado': u'Paran\xe1', u'id': 45465784, u'municipio': u'Abati\xe1'}, {u'regiao': u'S ', u'satelite_referencia': False, u'bioma': u'Mata Atl\xe2ntica', u'timestamp': u'2016-04-06T16:47:52Z', u'path_row': u'221_076', 'coordinates': [-50.324, -23.299], u'vegetacao': None, u'frp': None, u'satelite': u'NPP_375', u'pais': u'Brazil', u'estado': u'Paran\xe1', u'id': 45465786, u'municipio': u'Abati\xe1'}, {u'regiao': u'S ', u'satelite_referencia': False, u'bioma': u'Mata Atl\xe2ntica', u'timestamp': u'2016-04-05T04:38:37Z', u'path_row': u'221_076', 'coordinates': [-50.241, -23.266], u'vegetacao': None, u'frp': None, u'satelite': u'NPP_375', u'pais': u'Brazil', u'estado': u'Paran\xe1', u'id': 45465788, u'municipio': u'Abati\xe1'}]

In [160]:
# Convertendo para pandas.DataFrame
import pandas as pd
from IPython.display import display # para exibir o dataFrame pandas

# cria um data frame a partir das feições (focos) obtidos
fc_df = pd.DataFrame(fc['features'])

display(fc_df)

,bioma,coordinates,estado,frp,id,municipio,pais,path_row,regiao,satelite,satelite_referencia,timestamp,vegetacao
0,Mata Atlântica,"[-50.321, -23.297]",Paraná,None,45465778,Abatiá,Brazil,221_076,S,NPP,False,2016-04-06T16:43:05Z,None
1,Mata Atlântica,"[-50.232, -23.282]",Paraná,None,45465782,Abatiá,Brazil,221_076,S,NOAA-18,False,2016-11-24T22:44:22Z,None
2,Mata Atlântica,"[-50.327, -23.311]",Paraná,None,45465784,Abatiá,Brazil,221_076,S,AQUA_M-T,True,2016-07-17T17:28:09Z,None
3,Mata Atlântica,"[-50.324, -23.299]",Paraná,None,45465786,Abatiá,Brazil,221_076,S,NPP_375,False,2016-04-06T16:47:52Z,None
4,Mata Atlântica,"[-50.241, -23.266]",Paraná,None,45465788,Abatiá,Brazil,221_076,S,NPP_375,False,2016-04-05T04:38:37Z,None

In [161]:
# Obtendo atributos específicos de coleção de focos de uma área específica

area=("POLYGON((-49.8929205749999 1.21448026000007,"
               "-50.945202767 0.671596891000149,"
               "-51.2334818149999 0.0142109470000378,"
               "-49.8929205749999 1.21448026000007))")

# recupera uma coleção de feições (focos) de uma area especifica
fc = b.feature_collection("esensing:focos_bra_2016", 
                          attributes=("bioma", "estado", "regiao", "timestamp"),
                          within=area, 
                          max_features=5)

print("Recuperados {} de {}".format(fc['total'], fc['total_features']))

# cria um data frame a partir das feições (focos) obtidos
fc_df = pd.DataFrame(fc['features'])
display(fc_df)

Recuperados 5 de 1541

      bioma       coordinates estado regiao             timestamp
0  Amazônia   [-50.98, 0.588]  Amapá     N   2016-08-22T14:15:53Z
1  Amazônia  [-50.977, 0.584]  Amapá     N   2016-12-14T14:03:13Z
2  Amazônia  [-50.917, 0.531]  Amapá     N   2016-10-21T16:29:05Z
3  Amazônia   [-51.095, 0.17]  Amapá     N   2016-10-31T16:50:00Z
4  Amazônia  [-51.086, 0.165]  Amapá     N   2016-10-31T13:40:00Z

In [162]:
# Verificando a quantidade de focos de queimadas de 2016 por região

# recupera uma feição (foco) de cada região como forma de obter o metadado total_features
fc_N  = b.feature_collection("esensing:focos_bra_2016", filter="regiao='N'",  attributes=("id"), max_features=1)
fc_NE = b.feature_collection("esensing:focos_bra_2016", filter="regiao='NE'", attributes=("id"), max_features=1)
fc_CO = b.feature_collection("esensing:focos_bra_2016", filter="regiao='CO'", attributes=("id"), max_features=1)
fc_SE = b.feature_collection("esensing:focos_bra_2016", filter="regiao='SE'", attributes=("id"), max_features=1)
fc_S  = b.feature_collection("esensing:focos_bra_2016", filter="regiao='S'",  attributes=("id"), max_features=1)

# tabulando os dados
regioes = [
    {"Região": "Norte", "Total": fc_N['total_features']},
    {"Região": "Nordeste", "Total": fc_NE['total_features']},
    {"Região": "Centro-Oeste", "Total": fc_CO['total_features']},
    {"Região": "Sudeste", "Total": fc_SE['total_features']},
    {"Região": "Sul", "Total": fc_S['total_features']}]

# cria um data frame a partir da contagem de cada região
regioes_df = pd.DataFrame(data=regioes)

display(regioes_df)

         Região   Total
0         Norte  858859
1      Nordeste  500847
2  Centro-Oeste  485374
3       Sudeste  130567
4           Sul   63747

### WTSS.py

O [Cliente Python para WTSS](https://github.com/e-sensing/wtss.py) permite que usuários acessem séries temporais de dados de Observação de Terra armazenados em um SGBD-M SciDB.O WTSS fornece três operações:

- list_coverage: lista as *coverages* disponíveis no servidor;
- describe_coverage: obtém a descrição de um determinada *coverage*;
- time_series: obtém a série temporal de deteminada localização da *coverage* selecionada.

In [163]:
# Obtendo a lista de coverages disponíveis

from wtss import wtss

# conecta ao servidor WTSS
w = wtss("http://wtss_server:7654")

# imprime as coverages disponíveis
cv_list = w.list_coverages()
for cv_name in cv_list["coverages"]:
    print(cv_name)

climatologia
landcover_igbp_2012
ocorrencia_focos_2016
rpth

In [164]:
# Obtendo a descrição do recurso rpth

# recupera descrição da coverage
cv_scheme = w.describe_coverage("climatologia")

print("Name       : {}".format(cv_scheme['name']))
print("Timeline   : {} ... {}".format(cv_scheme['timeline'][0:3], \
                                    cv_scheme['timeline'][-3:]))
print("Attributes :")
for el in cv_scheme['attributes']:
    attr = cv_scheme['attributes'][el]
    print("  {:<20s}: {}".format(el, attr['datatype']))

Name       : climatologia
Timeline   : [u'2016-01-01', u'2016-02-01', u'2016-03-01'] ... [u'2016-10-01', u'2016-11-01', u'2016-12-01']
Attributes :
  precipitation       : float
  temperature         : float
  humidity            : float

In [165]:
# Obtendo uma série temporal

latitude  = -12
longitude = -54

# recupera a série temporal
ts = w.time_series("climatologia", ("precipitation", "temperature", "humidity"), latitude, longitude)

print("Timeline      : {} ... {}".format(ts.timeline[0], ts.timeline[-1]))
print("Precipitation : {} ... {}".format(ts['precipitation'][0], ts['precipitation'][-1]))
print("Temperature   : {} ... {}".format(ts['temperature'][0], ts['temperature'][-1]))
print("Humidity      : {} ... {}".format(ts['humidity'][0], ts['humidity'][-1]))

Timeline      : 2016-01-01 ... 2016-12-01
Precipitation : 318.807525635 ... 303.897460938
Temperature   : 299.769012451 ... 300.07901001
Humidity      : 0.891426622868 ... 0.873416662216

In [166]:
# Convertendo para pandas.DataFrame

# organiza os dados em um dicionário
data = {
    "precipitation": ts['precipitation'],
    "temperature": ts['temperature'],
    "humidity": ts['humidity']}

# cria o data frame
ts_df = pd.DataFrame(data=data, index=ts.timeline)

display(ts_df)

            humidity  precipitation  temperature
2016-01-01  0.891427     318.807526   299.769012
2016-02-01  0.901437     310.824677   299.632324
2016-03-01  0.904110     261.827362   299.718994
2016-04-01  0.871960     141.142227   299.883667
2016-05-01  0.817240      38.000473   299.187988
2016-06-01  0.713490       8.123626   298.673004
2016-07-01  0.609053       4.661519   299.266998
2016-08-01  0.512537      12.356894   301.444336
2016-09-01  0.576700      70.878075   302.442322
2016-10-01  0.724877     172.728912   301.626984
2016-11-01  0.823420     229.432663   300.644989
2016-12-01  0.873417     303.897461   300.079010