# Dados de Queimadas
<hr style="border:2px solid #0077b9;">

Disciplina: CAP-389 Introdução a *Data Science*
- Vitor Gomes
- Orientadores: Gilberto Ribeiro e Karine Ferreira

## Objetivos
<hr style="border:2px solid #0077b9;">

Fornecer uma estrutura para a utilização de grandes volumes de dados de queimadas com aplicações em *Data Science*

## Agenda
<hr style="border:2px solid #0077b9;">
- Sobre os dados
- Infraestrutura
- Acesso aos dados (BDQ.py)
    - Features
    - Coverages
- Disponibilizando novos produtos
- Explorando os dados

## Sobre os dados
<hr style="border:2px solid #0077b9;">

Os dados utilizados neste trabalho foram obtidos com o projeto **Queimadas-INPE** e com a **DGI-INPE**

TODO: incluir mais detalhes

### Resumo
<hr style="border:2px solid #0077b9;">

|  #  | Dado | Descrição | Formato | Res. Temp. | Res. Espacial | SRS | Tipo | Serviços |
|:----|:-----|:------ --|:-------:|:----------:|:-------------:|:---:|:--------:|:---:|
| 1 | Focos de Queimadas 2016 | 2.039.394 registros | PostgreSQL | Dados obtidos em 2017-08-11 | - | - | Feature | WFS |
| 2 | Landcover IGBP 2012 | - | TIFF | Anual (1 cena) | 1200x1400 | - | Coverage | WTSS |
| 3 | Temperatura | -  | NetCDF | Diário (366 cenas) | 1200x1400 | - | Coverage | WTSS |
| 4 | Humidade | -  | NetCDF | Diário (366 cenas) | 1200x1400 | - | Coverage | WTSS |
| 5 | Risco de Fogo | -  | NetCDF | Diário (366 cenas) | 1200x1400 | - | Coverage | WTSS |
| 6 | Precipitação | - | NetCDF | Diário (366 cenas) | 1200x1400 | - | Coverage | WTSS |
| 7 | Ocorrência de focos | Gerado a partir do item 1 | TIFF | Mensal (12 cenas) | 1200x1400 | - | Coverage | WTSS |
| 8 | Temperatura média mensal | Normal de Temperatura | HDR | Mensal (12 cenas) | 226x196 | - | Coverage | WTSS | |
| 9 | Precipitação média mensal | Normal de Precipitação | HDR | Mensal (12 cenas) | 226x196 | - | Coverage | WTSS |
| 10 | Umidade relativa média mensal | Normal de Umidade relativa | HDR | Mensal (12 cenas) | 226x196 | - | Coverage | WTSS |

<table>
<tr>
<td><img src="./imgs/focos_bra_2016.png" alt="Focos BRA 2016" style="height: 150px;"/></td>
<td><img src="./imgs/land_cover_2012.png" alt="Landcover IGBP 2012" style="height: 150px;"/></td>
<td><img src="./imgs/risco.png" alt="Risco 2016" style="height: 150px;"/></td>
<td><img src="./imgs/precipitacao.png" alt="Precipitação 2016" style="height: 150px;"/></td>
</tr>
<tr>
<td style="text-align: center">1. Focos BRA 2016</td>
<td style="text-align: center">2. Landcover IGBP 2012</td>
<td style="text-align: center">3. Risco 01-01-2016</td>
<td style="text-align: center">4. Precipitação 01-01-2016</td>
</tr>
<tr>
<td><img src="./imgs/temperatura.png" alt="Temperatura 2016" style="height: 150px;"/></td>
<td><img src="./imgs/umidade.png" alt="Umidade 2016" style="height: 150px;"/></td>
<td><img src="./imgs/prec_normal.png" alt="Precipitação 2016" style="height: 150px;"/></td>
<td><img src="./imgs/temp_normal.png" alt="Temperatura 2016" style="height: 150px;"/></td>
</tr>
<tr>
<td style="text-align: center">5. Temperatura 01-01-2016</td>
<td style="text-align: center">6. Umidade 01-01-2016</td>
<td style="text-align: center">7. Precipitação Normal Jan</td>
<td style="text-align: center">8. Temperatura Normal Jan</td>
</tr>
<tr>
<td><img src="./imgs/umi_normal.png" alt="Umidade 2016" style="height: 150px;"/></td>
<td><img src="./imgs/qtd_focos.png" alt="Quantidade de focos" style="height: 150px;"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td style="text-align: center">9. Umidade Normal Jan</td>
<td style="text-align: center">10. Quantidade de focos Jan</td>
<td></td>
<td></td>
</tr>
</table>

## Infraestrutura
<hr style="border:2px solid #0077b9;">

<img src="./imgs/arquitetura0.png" alt="Arquitetura 1" style="width: 500px;"/>

<img src="./imgs/arquitetura1.png" alt="Arquitetura 1" style="width: 1200px;"/>

<img src="./imgs/arquitetura2.png" alt="Arquitetura 2" style="width: 1200px;"/>

## BDQ.py
<hr style="border:2px solid #0077b9;">

O [Cliente Python BDQ.py](https://github.com/vconrado/bdq.py) permite o acesso a <span style="color:#16CAC3">*Features*</span> e <span style="color:#E8641B">*Coverages*</span> do BDQ disponibilizados pelos serviços WFS e WTSS. O BDQ.py fornece sete operações:
- <span style="color:#16CAC3">**list_features**</span>: lista as *features* disponíveis no servidor;
- <span style="color:#16CAC3">**describe_feature**</span>: obtém a descrição de uma determinada *feature*;
- <span style="color:#16CAC3">**feature_collection**</span>: obtém uma coleção de *features*;
- <span style="color:#16CAC3">**feature_collection_len**</span>: obtém o tamanho de uma coleção de *features*;
- <span style="color:#E8641B">**list_coverage**</span>: lista as *coverages* disponíveis no servidor;
- <span style="color:#E8641B">**describe_coverage**</span>: obtém a descrição de um determinada *coverage*;
- <span style="color:#E8641B">**time_series**</span>: obtém a série temporal de uma *coverage* selecionada.

### Acessando *features* através do BDQ.py

In [1]:
# Obtendo a lista de feições disponíveis
from bdq import bdq;
import pandas as pd
from IPython.display import display, HTML 
display(HTML("<style>.dataframe{font-size: 16px !important;}</style>"))

# conecta ao servidor WFS
b = bdq(wfs_server="http://localhost:8080/geoserver-esensing/", wtss_server="http://localhost:7654")

# recupera lista de feições
ft_list = b.list_features()

for feature in ft_list['features']:
    print(feature)

esensing:focos_bra_2016
esensing:focos_bra_2016_01_01

In [2]:
# Obtendo a descrição do recurso esensing:focos_bra_2016
# recupera descrição da feição
ft_scheme = b.describe_feature("esensing:focos_bra_2016")
print("Name : {}".format(ft_scheme['full_name']))
print("Attributes:")
for attr in ft_scheme['attributes']:
     print("  {:<20s}: {}".format(attr['name'], attr['datatype']))

Name : esensing:focos_bra_2016
Attributes:
  id                  : int
  municipio           : string
  estado              : string
  regiao              : string
  pais                : string
  satelite            : string
  bioma               : string
  vegetacao           : string
  path_row            : string
  timestamp           : date-time
  frp                 : number
  satelite_referencia : boolean
  geometria           : Point

In [3]:
# Obtendo a uma coleção com 5 recursos

# recupera uma coleção de feições (focos)
fc, fc_metadata = b.feature_collection("esensing:focos_bra_2016", 
                          max_features=5)

print("Recuperados: {} de {}".format(fc_metadata['total'], fc_metadata['total_features']))
display(fc)

Recuperados: 5 de 2039394

,bioma,coordinates,estado,frp,id,municipio,pais,path_row,regiao,satelite,satelite_referencia,timestamp,vegetacao
0,Mata Atlântica,"[-50.321, -23.297]",Paraná,None,45465778,Abatiá,Brazil,221_076,S,NPP,False,2016-04-06T16:43:05Z,None
1,Mata Atlântica,"[-50.232, -23.282]",Paraná,None,45465782,Abatiá,Brazil,221_076,S,NOAA-18,False,2016-11-24T22:44:22Z,None
2,Mata Atlântica,"[-50.327, -23.311]",Paraná,None,45465784,Abatiá,Brazil,221_076,S,AQUA_M-T,True,2016-07-17T17:28:09Z,None
3,Mata Atlântica,"[-50.324, -23.299]",Paraná,None,45465786,Abatiá,Brazil,221_076,S,NPP_375,False,2016-04-06T16:47:52Z,None
4,Mata Atlântica,"[-50.241, -23.266]",Paraná,None,45465788,Abatiá,Brazil,221_076,S,NPP_375,False,2016-04-05T04:38:37Z,None

In [9]:
# Obtendo atributos específicos de coleção de focos de uma área específica

area=("POLYGON((-49.8929205749999 1.21448026000007, -50.945202767 0.671596891000149,"
                "-51.2334818149999 0.0142109470000378,-49.8929205749999 1.21448026000007))")

# recupera uma coleção de feições (focos) de uma area especifica
fc, fc_metadata = b.feature_collection("esensing:focos_bra_2016", 
                          attributes=("bioma", "estado", "regiao", "timestamp"),
                          within=area, 
                          max_features=5)

print("Recuperados {} de {}".format(fc_metadata['total'], fc_metadata['total_features']))
display(fc)

Recuperados 5 de 1541

      bioma       coordinates estado regiao             timestamp
0  Amazônia   [-50.98, 0.588]  Amapá     N   2016-08-22T14:15:53Z
1  Amazônia  [-50.977, 0.584]  Amapá     N   2016-12-14T14:03:13Z
2  Amazônia  [-50.917, 0.531]  Amapá     N   2016-10-21T16:29:05Z
3  Amazônia   [-51.095, 0.17]  Amapá     N   2016-10-31T16:50:00Z
4  Amazônia  [-51.086, 0.165]  Amapá     N   2016-10-31T13:40:00Z

In [10]:
# Verificando a quantidade de focos de queimadas de 2016 por região

# recupera uma feição (foco) de cada região como forma de obter o metadado total_features
total_N  = b.feature_collection_len("esensing:focos_bra_2016", filter="regiao='N'")
total_NE = b.feature_collection_len("esensing:focos_bra_2016", filter="regiao='NE'")
total_CO = b.feature_collection_len("esensing:focos_bra_2016", filter="regiao='CO'")
total_SE = b.feature_collection_len("esensing:focos_bra_2016", filter="regiao='SE'")
total_S  = b.feature_collection_len("esensing:focos_bra_2016", filter="regiao='S'")

print("Done!")

Done!

In [11]:
# tabulando os dados
regioes = [
    {"Região": "Norte", "Total": total_N}, 
    {"Região": "Nordeste", "Total": total_NE},
    {"Região": "Centro-Oeste", "Total": total_CO}, 
    {"Região": "Sudeste", "Total": total_SE},
    {"Região": "Sul", "Total": total_S}]

# cria um data frame a partir da contagem de cada região
regioes_df = pd.DataFrame(data=regioes)
display(regioes_df)

         Região   Total
0         Norte  858859
1      Nordeste  500847
2  Centro-Oeste  485374
3       Sudeste  130567
4           Sul   63747

### Acessando *coverages* através do BDQ.py

In [14]:
# Obtendo a lista de coverages disponíveis

# imprime as coverages disponíveis
cv_list = b.list_coverages()
for cv_name in cv_list["coverages"]:
    print(cv_name)

climatologia
landcover_igbp_2012
ocorrencia_focos_2016
rpth

In [15]:
# Obtendo a descrição do recurso rpth

# recupera descrição da coverage
cv_scheme = b.describe_coverage("climatologia")

print("Name       : {}".format(cv_scheme['name']))
print("Timeline   : {} ... {}".format(cv_scheme['timeline'][0], cv_scheme['timeline'][-1]))
print("Attributes :")
for el in cv_scheme['attributes']:
    attr = cv_scheme['attributes'][el]
    print("  {:<20s}: {}".format(el, attr['datatype']))

Name       : climatologia
Timeline   : 2016-01-01 ... 2016-12-01
Attributes :
  precipitation       : float
  temperature         : float
  humidity            : float

In [17]:
# Obtendo uma série temporal

latitude  = -12
longitude = -54

# recupera a série temporal
ts, ts_metadata = b.time_series("climatologia", ("precipitation", "temperature", "humidity"), latitude, longitude)
print(ts_metadata)
display(ts)

{'total': 12}

            humidity  precipitation  temperature
2016-01-01  0.891427     318.807526   299.769012
2016-02-01  0.901437     310.824677   299.632324
2016-03-01  0.904110     261.827362   299.718994
2016-04-01  0.871960     141.142227   299.883667
2016-05-01  0.817240      38.000473   299.187988
2016-06-01  0.713490       8.123626   298.673004
2016-07-01  0.609053       4.661519   299.266998
2016-08-01  0.512537      12.356894   301.444336
2016-09-01  0.576700      70.878075   302.442322
2016-10-01  0.724877     172.728912   301.626984
2016-11-01  0.823420     229.432663   300.644989
2016-12-01  0.873417     303.897461   300.079010